# Basic Dataframes

In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

#====Creating a Data Frame
np.random.seed(101)

#pd.DataFrame(data,row,column)
df = pd.DataFrame(
    randn(5,4),
    ["Mark","John","Mike","Lee","Stan"],
    ["A","B","C","D"]) 
df

             A         B         C         D
Mark  2.706850  0.628133  0.907969  0.503826
John  0.651118 -0.319318 -0.848077  0.605965
Mike -2.018168  0.740122  0.528813 -0.589001
Lee   0.188695 -0.758872 -0.933237  0.955057
Stan  0.190794  1.978757  2.605967  0.683509

In [9]:
#====Indexing Data Frames

#Selecting cols
df["A"]
df[["A","C"]]

#Selecting rows
df.loc["Mark"]
df.iloc[2]

#Get subsets
df.loc["John","B"] #get cell (John, B)
df.loc[["John","Lee"],["A","B"]]

             A         B
John  0.651118 -0.319318
Lee   0.188695 -0.758872

In [3]:
#=====Changing Cols and Rows

#Creating a sum row
df["sumAB"] = df["A"] + df["B"]

#Dropping cols and rows
df.drop("D", axis=1, inplace=True) #axis=1 is columns, inplace commits changes

df.drop("Lee", axis=0) #drops row

             A         B         C     sumAB
Mark  2.706850  0.628133  0.907969  3.334983
John  0.651118 -0.319318 -0.848077  0.331800
Mike -2.018168  0.740122  0.528813 -1.278046
Stan  0.190794  1.978757  2.605967  2.169552

In [5]:
#=====Creating a new Index

stateIdx = "CA NY WY OR CO".split()

df["States"] = stateIdx #Creates column called States

df.set_index("States") #Creates new index

               A         B         C         D
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509