In [2]:
#=====Joining

import numpy as np
import pandas as pd
from numpy.random import randn

df1 = pd.DataFrame({"A":["A0","A1","A2","A3"],
                   "B":["B0","B1","B2","B3"],
                   "C":["C0","C1","C2","C3"],
                   "D":["D0","D1","D2","D3"]},
                  index=[0,1,2,3])
print(df1)

df2 = pd.DataFrame({"A":["A4","A5","A6","A7"],
                   "B":["B4","B5","B6","B7"],
                   "C":["C4","C5","C6","C7"],
                   "D":["D4","D5","D6","D7"]},
                  index=[4,5,6,7])
print(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [6]:
#=====Concatenation on rows and cols

pd.concat([df1,df2], axis = 1) #col

pd.concat([df1,df2], axis = 0) #row

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [10]:
#=====Joining Data Frames
leftTable = pd.DataFrame({"A" : ["A0","A1","A2","A3"],
                    "B" : ["B0","B1","B2","B3"]},
                   index=["0","1","2","3"])
rightTable = pd.DataFrame({"C" : ["C0","C1","C2","C3"],
                    "D" : ["D0","D1","D2","D3"]},
                    index=["0","1","2","3"])

leftTable.join(rightTable)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [17]:
#=====Merging Data Frames
leftTable = pd.DataFrame({"key" : ["K0","K1","K2","K3"],
                    "A" : ["A0","A1","A2","A3"],
                    "B" : ["B0","B1","B2","B3"]})
rightTable = pd.DataFrame({"key" : ["K0","K1","K2","K3"],
                    "C" : ["C0","C1","C2","C3"],
                    "D" : ["D0","D1","D2","D3"]})

df = pd.merge(leftTable,rightTable,how="inner",on="key")

df

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [21]:
#===Rearrange columns
df.columns.tolist()

df = df[["key", "A", "B", "C", "D"]]

df

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3