In [25]:
#=====Operations

import numpy as np
import pandas as pd

df = pd.DataFrame({"col1":[1,2,3,4],
                  "col2":[444,555,666,444],
                  "col3":["abc","def","ghi","xyz"]})

df

df.columns.tolist() #Get column names

Index(['col1', 'col2', 'col3'], dtype='object')

In [21]:
#====Apply Function

def times2(x):
    return x*2

df["col4"] = df["col1"].apply(times2)

#Times 2 with one line
df["col4"] = df["col1"].apply(lambda x: x*2)

df

   col1  col2 col3  col4
0     1   444  abc     2
1     2   555  def     4
2     3   666  ghi     6
3     4   444  xyz     8

In [28]:
#Get length of each string
df["col3"].apply(len)

#=====Sorting and Dropping

df.drop("col1", axis=1) #use inplace=True to commit changes

df.sort_values("col2") #sort by col2

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [29]:
#=====Pivot Table 

df = pd.DataFrame({"A":["foo","foo","foo","bar","bar","bar"],
                  "B":["one","one","two","two","three","three"],
                  "C":["x","y","x","y","x","y"],
                  "D":[1,3,2,5,4,1]})
df

print(df.pivot_table(values="D", index=["A","B"], columns=["C"]))

C            x    y
A   B
bar three  4.0  1.0
    two    NaN  5.0
foo one    1.0  3.0
    two    2.0  NaN