# Markdown Cell

In [3]:
print("hello")

hello

In [4]:
"Option+Enter"

'Option+Enter'

In [5]:
name = "Wen"
age = "23"

introduce = "My name is {name} and I am {age} years old.".format(name=name,age=age)

print(introduce)

My name is Wen and I am 23 years old.

In [7]:
seq = [1,2,3,4,5]

for num in seq:
    print(num)

1
2
3
4
5

In [8]:
i = 1

while i < 5:
    print("i is: {}".format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [17]:
def myFunc(param):
    print("Hello " + param)
    
myFunc("Wen")

Hello Wen

In [10]:
#For Loops List Comprehension

x = [1,2,3,4]
ans = []
#Basic
for num in x:
    ans.append(num**2)
print(ans)

#Advanced
x = [1,2,3,4]
ans = [num**2 for num in x]
print(ans)

#Advanced Alt
x = [1,2,3,4]
ans = [x[i]**2 for i in range(len(x))]
print(ans)

[1, 4, 9, 16]

In [19]:
#Map Function - preform func on each element of a list

def times2(var):
    return var*2

seq = [1,2,3,4,5]

ans = list(map(times2, seq))

print(ans)

[2, 4, 6, 8, 10]

In [24]:
#Lambda - shorthand way to write a function
#lambda inputVar: returnOperation

multiply3 = lambda var: var*2
print(multiply3(5))

ans = list(map(multiply3,seq))

print(ans)

10
[2, 4, 6, 8, 10]

In [26]:
#Filter - returns the elements that meets the criteria of a function

evens = lambda num: num%2 == 0

list(filter(evens, seq))

[2, 4]

In [28]:
#String processing

introduce = "hello my name is Wen"

introduce.upper()

introduce.lower()

introduce.split()

tweet = "Go Team! #Sports"
tweet.split("#")

['hello', 'my', 'name', 'is', 'Wen']

In [ ]:
#Tuple Unpacking

tupList = [(1,2),(2,3),(3,4)]

for a,b in tupList:
    print(a)