# Missing Data

In [ ]:
import numpy as np
import pandas as pd

In [7]:
data_dict = {"A":[1,2,np.nan],"B":[5,np.nan,np.nan],"C":[1,2,3]}

dfrm = pd.DataFrame(data_dict)

dfrm

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
#Drop NA method
dfrm.dropna(thresh=2) #Drops row wth atleast 2 non-null values
    #Note: dfrm.dropna(axis=1) #Drops col with null values

#Fill NA
dfrm.fillna(value=0) #Fills NA with zeros

dfrm["A"].fillna(value=dfrm["A"].mean()) #Fills NA in col A with mean col A

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64