# Reading Data

In [2]:
#=====Reading Data

import numpy as np
import pandas as pd

In [3]:
#Reading from CSV and Excel

df = pd.read_csv("examplecsv.csv") #reading from a csv
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.to_csv("examplecsv.csv", index=False) #write to a csv

In [6]:
pd.read_excel("Excel_Sample.xlsx", sheetname="Sheet1") #read from excel

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df.to_excel("Excel_Sample2.xlsx", sheet_name="NewSheet") #write to Excel

In [7]:
#Reading from HTML

data = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

In [8]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","April 13, 2017"
1,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","April 21, 2017"
2,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","April 13, 2017"
3,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
4,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"