# Conditional Selection

In [2]:
#=====Conditional Selection

import pandas as pd
import numpy as np
from numpy.random import randn

np.random.seed(101)

df = pd.DataFrame(
    randn(5,4),
    ["Mark","John","Mike","Lee","Stan"],
    ["A","B","C","D"]) 
df

             A         B         C         D
Mark  2.706850  0.628133  0.907969  0.503826
John  0.651118 -0.319318 -0.848077  0.605965
Mike -2.018168  0.740122  0.528813 -0.589001
Lee   0.188695 -0.758872 -0.933237  0.955057
Stan  0.190794  1.978757  2.605967  0.683509

In [7]:
#=====Single Conditional Selection

df[df>0] #Filter out data < 0

df[df["A"]>0] #Filter out data A < 0

df[df["A"]>0]["B"] #Grabs B where condition is met

df[df["A"]>0][["A","B"]] #Grabs A and B

             A         B
Mark  2.706850  0.628133
John  0.651118 -0.319318
Lee   0.188695 -0.758872
Stan  0.190794  1.978757

In [9]:
#=====Multiple Conditions

df[(df["A"]>0) & (df["C"]>0)] #& for "and"; | for "or"

             A         B         C         D
Mark  2.706850  0.628133  0.907969  0.503826
Stan  0.190794  1.978757  2.605967  0.683509